.fondo{
    height: 80vh;
    background: #576b76;
}
.fondo h1{
    font-size: 20em;
    color: white;
    font-weight: bold;
}
.fondo p{
    font-size: 1.5em;
    color: cadetblue;
}
.fondo a{
    padding: 0;
    color: cadetblue;
}
.fondo a:hover{
    color: white;
}