<div class="row">
  <div class="col-12 fondo centrar-columna">
    <h1>404</h1>
    <p>No existe ninguna página con esa dirección. Regresa a <a class="nav-link" routerLink="/">Casa!</a></p>
  </div>
</div>
