.producto{
    width: 250px;
    height: 580px;
    max-width: 250px;
    max-height: 580px;
}
.border-cuadro{
    border-bottom: solid #d1d0d0;
    border-bottom-width: 0.02px;
}
.tam-img{
    width: 250px;
    height: 250px;
    max-width: 250px;
    max-height: 250px;
}