<div class="paddingTB200100">
  <form class="form-signin">
    <!-- <img class="mb-4" src="img//bootstrap-solid.svg" alt="" width="72" height="72"}> -->
    <h1 class="h3 mb-3 font-weight-normal text-center">Iniciar Sesión</h1>
    <label for="email" class="sr-only">Email</label>
    <input
      type="email"
      name="email"
      class="form-control text-center"
      placeholder="Email"
      autocomplete="off"
      [(ngModel)]="loginParams.email"
      required
      autofocus
    >
    <label for="password" class="sr-only">Password</label>
    <input
      type="password"
      class="form-control text-center"
      name="password"
      placeholder="Password"
      autocomplete="off"
      required
      [(ngModel)]="loginParams.password"
    >
    <button
      class="btn btn-lg btn-danger btn-block"
      (click)="login()"
    >Empresa</button>
    <button
      class="btn btn-lg btn-primary btn-block"
      (click)="facebookLogin()"
    >Login con Facebook</button>
    <div class="checkbox mb-3 text-center">
        <label>
            <p><a routerLink="/index">Cancelar</a></p>
        </label>
    </div>
    <p class="mt-5 mb-3 text-muted text-center">Ferremayoristas Olvera &copy; 2018</p>
  </form>
</div>
