<div class="container paddingT95">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="text-grisoscuro" routerLink="/index" [queryParams]="{barraSearch: true}">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">La busqueda "{{buscando}}"</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-center borde-cuadrado" *ngFor="let item of listado">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                <img class="img-fluid" src="http://www.ferremayoristas.com.mx/tienda/img/img_pro/img/{{item.CLAVE}}.jpg" width="80%">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 paddingTB305">
                <p class="size-07 col-12 text-truncate">{{item.DESCRIPCIO}}</p>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <p class="text-grisoscuro">{{item.CLAVE}}</p>
                <p class="text-grisoscuro">{{item.CLVPROV}}</p>
                <p class="texto-naranja text-bold size-12" *ngIf="item.DESCRIPCIO.indexOf('MANGUERA') < 0">$ {{item.PRECIO}} C/PZ.</p>
                <p class="texto-naranja text-bold size-12" *ngIf="item.DESCRIPCIO.indexOf('MANGUERA') > 0">$ {{item.PRECIO}} C/MT.</p>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 paddingTB10">
                <img class="img-fluid" src="assets/img/promotruper.png" width="30%">
                <p class="text-grisoscuro text-bold size-07">JUNIO 2018</p>
            </div>
            <div class="container paddingTB305">
                <div class="row justify-content-md-center">
                    <div class="col-md-auto">
                        <a routerLink="/detalle/{{item.CLVPROV}}" class="boton">COMPRAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>