<div class="altura100v">
  <div class="container paddingT135" *ngFor="let item of listado">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-grisoscuro" routerLink="/index">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{item.DESCRIPCIO}}</li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col-12 centrar-sincolumna">
            <div class="cuadro centrar-sincolumna">
              <img src="http://www.ferremayoristas.com.mx/tienda/img/img_pro/img/{{item.CLAVE}}.jpg" class="img-fluid">
            </div>
          </div>
          <div class="col-12">
            <img src="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-6 centrar-columna">
        <div class="row">
          <div class="col-12">
              <h4 class="text-bold text-grisoscuro">{{item.DESCRIPCIO}}</h4>
              <p class="lead size-12">Clave: <span class="text-jade">{{item.CLAVE}}</span><br />Código: <span class="text-jade">{{item.CLVPROV}}</span></p>
          </div>
          <div class="col-12">
              <p class="text-negro text-bold size-big" *ngIf="item.DESCRIPCIO.indexOf('MANGUERA') < 0">$ {{item.PRECIO}} <span class="size-09 text-grisoscuro">C/PZ.</span></p>
              <p class="text-negro text-bold size-big" *ngIf="item.DESCRIPCIO.indexOf('MANGUERA') > 0">$ {{item.PRECIO}} <span class="size-09 text-grisoscuro">C/MT.</span></p>
          </div>
        </div>
      </div>
      <div class="col-2 centrar-columna">
        <div class="row">
          <div class="col-12"></div>
          <div class="col-12"></div>
          <div class="col-12">
            <img src="" class="img-fluid">
          </div>
          <div class="col-12">
            <img src="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>