<div class="col-12 fondo-grisoscuro fixed-top">
    <div class="container">
        <div class="row paddingT5">
            <div class="col-12 text-right">
                <ul class="list-inline" *ngIf="!loggedIn">
                    <li class="list-inline-item">
                        <a class="nav-link text-blanco" routerLink="/login">Login</a>
                    </li>
                </ul>
                <ul class="list-inline" *ngIf="loggedIn">
                    <li class="list-inline-item">
                        <a class="nav-link text-blanco puntero" routerLink="/admin" *ngIf="loggedAdmin"><span class="text-white"><img class="img-fluid rounded-circle" src="{{loggedImg}}" width="30" *ngIf="imgOk"><img class="img-fluid rounded-circle" src="../assets/img/logo.png" width="30" *ngIf="!imgOk"> {{loggedUser}}</span></a>
                        <a class="nav-link text-blanco puntero" routerLink="/" *ngIf="!loggedAdmin"><span class="text-white"><img class="img-fluid rounded-circle" src="{{loggedImg}}" width="30" *ngIf="imgOk"><img class="img-fluid rounded-circle" src="../assets/img/logo.png" width="30" *ngIf="!imgOk"> {{loggedUser}}</span></a>
                    </li>
                    <!--<li class="list-inline-item">
                        <a class="nav-link text-blanco puntero" routerLink="/admin" *ngIf="loggedAdmin">Panel</a>
                    </li>-->
                    <li class="list-inline-item">
                        <a class="nav-link text-blanco puntero" (click)="logout()">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg fondo-grisoscuro">
            <a class="navbar-brand" routerLink="/">
                <img src="../assets/img/logo-fmo-white.gif" class="d-inline-block align-top" width="200">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto centrar-sincolumna">
                    <li class="nav-item active">
                        <a class="nav-link linav" routerLink="/">INICIO <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link linav" routerLink="/tienda">PROMOCIONES</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0 centrar-sincolumna">
                    <div class="form-group">
                        <input class="form-control mr-sm-2 cajaBuscar" type="search" placeholder="Buscar en la tienda..." aria-label="Search" autocomplete="off" name="buscando" [(ngModel)]="buscando">
                        <button class="btn btn-outline-secondary my-2 my-sm-0 botonBuscar" (click)="buscarProd()">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </nav>
    </div>
</div>
<!--<header class="navbar fixed-top d-flex justify-content-center fondo-grisoscuro">
    <div class="row">
        <div class ="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 fondo-grisoscuro centrar-columna">
            <img src="assets/img/logo-fmo-white.gif" alt="Ferremayoristas" width="170">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 centrar-columna">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link linav active text-blanco navegador" routerLink="/">INICIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link linav text-blanco navegador" routerLink="/store">PROMOCIONES</a>
                </li>-->
                <!--<li class="nav-item linav">
                    <a class="nav-link active text-blanco navegador" href="#">HERRAMIENTAS</a>
                </li>
                <li class="nav-item linav">
                    <a class="nav-link text-blanco navegador" href="#">ELÉCTRICO</a>
                </li>
                <li class="nav-item linav">
                    <a class="nav-link text-blanco navegador" href="#">ILUMINACIÓN</a>
                </li>
                <li class="nav-item linav">
                    <a class="nav-link text-blanco navegador" href="#">PLOMERÍA</a>
                </li>
                <li class="nav-item linav">
                    <a class="nav-link text-blanco navegador" href="#">CERRAJERÍA</a>
                </li>
                <li class="nav-item linav">
                    <a class="nav-link text-blanco navegador" href="#">AUTOMOTRIZ</a>
                </li>
                <li class="nav-item linav">
                    <a class="nav-link text-blanco navegador" href="#">FERRETERÍA</a>
                </li>
                <li class="nav-item linav">
                    <a class="nav-link text-blanco navegador" href="#">LIMPIEZA</a>
                </li>-->
            <!--</ul>
        </div>
    </div>
</header>-->

<router-outlet></router-outlet>

<div class="col-12 d-flex justify-content-center fondo-grismedium text-center">
  <img src="assets/img/logos/banner-footer-logos.png">
</div>
<div class="col-12 fondo-grisclaro text-center redes centrar-sincolumna">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="" class="iconos iconof">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="iconos iconot">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-12 fondo-grisoscuro" *ngIf="!sesion">
    <div class="row espacio">
        <div class="col-3 col-sm-6 col-lg-3 text-white">
            <h5 class="size-12"><span class="texto-naranja">>></span> SOPORTE AL CLIENTE</h5>
            <p class="size-07">Facturación</p>
            <p class="size-07">Preguntas frecuentes</p>
            <p class="size-07">Mis pedidos</p>
            <p class="size-07">Contacto</p>
        </div>
        <div class="col-3 col-sm-6 col-lg-3 text-white">
            <h5 class="size-12"><span class="texto-naranja">>></span> POLÍTICAS</h5>
            <p class="size-07">Políticas de venta</p>
            <p class="size-07">Términos y condiciones</p>
            <p class="size-07">Aviso de privacidad</p>
            <p class="size-07">Políticas de granatía</p>
        </div>
        <div class="col-3 col-sm-6 col-lg-3 text-white">
            <h5 class="size-12"><span class="texto-naranja">>></span> TU FERREMAYORISTA</h5>
            <p class="size-07">Acerca de nosotros</p>
            <p class="size-07">Catálogo de Truper</p>
            <p class="size-07">Bolsa de trabajo</p>
            <p class="size-07">Outlet</p>
            <p class="size-07">Nuevos</p>
            <p class="size-07">Promociones del mes</p>
        </div>
        <div class="col-3 col-sm-6 col-lg-3 text-white">
            <h5 class="size-12"><span class="texto-naranja">>></span> FORMAS DE PAGO</h5>
            <i class="fab fa-cc-visa iconosgde"></i>
            <i class="fab fa-cc-mastercard iconosgde"></i>
            <i class="fab fa-cc-amex iconosgde"></i><br>
            <span class="text-grismasclaro">Efectivo y Transferencia</span>
        </div>
    </div>
</div>
<div class="col-12 banner-footer text-center" *ngIf="!banner">
    <span>Ferremayoristas Olvera &copy; 2018</span>
    <!--<img class="img-fluid" src="assets/img/banner-footer.png" alt="PROMOTRUPER">-->
</div>