<div class="row padding16050" *ngIf="loggedIn">
  <div class="col-2">
    <div class="card" style="width: 18rem;">
      <img class="img-fluid rounded-circle" src="{{loggedImg}}" width="100%" *ngIf="imgOk"><img class="img-fluid rounded-circle" src="../assets/img/logo.png" width="100%" *ngIf="!imgOk">
      <div class="card-body">
        <h5 class="card-title text-truncate">{{loggedUser}}</h5>
        <!--<p class="card-text text-justify">Bienvenido a tu escritorio virtual, en donde podrás ver toda la información necesaria de la empresa Ferremayoristas Olvera.</p>-->
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a class="card-link puntero linkNormal" (click)="escritorio()">Escritorio</a>
        </li>
        <li class="list-group-item">
          <a class="card-link puntero linkNormal" (click)="rGen()">Reporte General</a>
        </li>
        <li class="list-group-item">
          <a class="card-link puntero linkNormal" (click)="rSer()">Reporte de Servicio</a>
        </li>
        <li class="list-group-item">
          <a class="card-link puntero linkNormal" (click)="diarios()">Diarios</a>
          <ul class="list-group list-group-flush" *ngIf="divDiarios">
            <li class="list-group-item">
              <div class="form-group text-center">
                <label for="selectDiario">Tipo de Diario</label>
                <select name="selectDiario" id="selectDiario" class="form-control" [(ngModel)]="selectDiario" (change)="reporteDiario()">
                  <option [value]="0">Selecciona...</option>
                  <option [value]="1">Diario de Venta</option>
                  <option [value]="2">Diario de Compra</option>
                  <option [value]="3">Utilidades</option>
                  <option [value]="4">Notas de Crédito</option>
                </select>
              </div>
            </li>
            <li class="list-group-item" *ngIf="fechas">
              <div class="row">
                <div class="col-12 centrar">
                  <div class="form-group text-center">
                    <label for="fecIniInv">Inicio</label>
                    <input type="date" class="form-control" id="fecIniInv" required [(ngModel)]="fecIni">
                  </div>
                </div>
                <div class="col-12 centrar">
                  <div class="form-group text-center">
                    <label for="fecIniInv">Final</label>
                    <input type="date" class="form-control" id="fecFinInv" required [(ngModel)]="fecFin">
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item" *ngIf="vendedores">
              <div class="form-group text-center">
                <select name="selecVen" id="selecVen" class="form-control" [(ngModel)]="selecVen">
                  <option [value]="0">Selecciona vendedor...</option>
                  <option *ngFor="let item of listaVen" [value]="item.PERID">{{item.NOMBRE}}</option>
                </select>
              </div>
            </li>
            <li class="list-group-item" *ngIf="proveedores">
              <div class="form-group text-center">
                <select name="selecProv" id="selecProv" class="form-control" [(ngModel)]="selecProv">
                  <option [value]="0">Selecciona vendedor...</option>
                  <option *ngFor="let prov of listaProv" [value]="prov.CLIENTEID">{{prov.NUMERO}} - {{prov.NOMBRE}}</option>
                </select>
              </div>
            </li>
            <li class="list-group-item" *ngIf="botonEnviar">
              <div class="form-group text-center">
                  <button type="button" class="btn btn-primary" (click)="buscarDVta()" *ngIf="vendedores">Buscar</button>
                  <button type="button" class="btn btn-primary" (click)="buscarDComp()" *ngIf="proveedores">Buscar</button>
              </div>
            </li>
          </ul>
        </li>
        <li class="list-group-item">
          <a class="card-link puntero linkNormal" (click)="linTiem()">Línea de Tiempo</a>
        </li>
      </ul>
      <div class="card-body">
        <a class="card-link puntero linkNormal" (click)="logout()">Cerrar Sesión</a>
      </div>
    </div>
  </div>
  <div class="col-10" *ngIf="divEscritorio">
    <h3>Escritorio</h3>
  </div>
  <div class="col-10" *ngIf="divRGeneral">
    <h3>Reporte General</h3>
  </div>
  <div class="col-10" *ngIf="divRServicio">
    <h3>Reporte de Servicio</h3>
  </div>
  <div class="col-10" *ngIf="divBackOrder">
    <h3>Back Order</h3>
  </div>
  <div class="col-10" *ngIf="divCtaEsp">
    <h3>Cuentas Especiales</h3>
  </div>
  <div class="col-10 text-center centrar-columna" *ngIf="divDiarios">
    <h3>REPORTES TIPO DIARIOS</h3>
    <div class="container">
      <div class="row">
        <div class="col-12" id="mostrarDiarioVta" *ngIf="mostrarDiarioVta">
          <div class="table-responsive">
            <h4>Diario de Ventas</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="text-center">NOMBRE</th>
                  <th scope="col" class="text-center">SUBTOTAL</th>
                  <th scope="col" class="text-center">IVA</th>
                  <th scope="col" class="text-center">TOTAL</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dirarioVta of listDVta">
                  <td class="text-left" style="font-weight:bold;">{{dirarioVta.NOMBRE}}</td>
                  <td class="text-center" style="font-weight:bold;">{{dirarioVta.SUBTOTAL | currency}}</td>
                  <td class="text-center" style="font-weight:bold;">{{dirarioVta.IVA | currency}}</td>
                  <td class="text-center" style="font-weight:bold;">{{dirarioVta.TOTAL | currency}}</td>
                </tr>
                <tr *ngFor="let sumDVta of sumListDVta">
                  <td class="text-center" style="font-weight:bold;font-size: 1.5em;">TOTAL</td>
                  <td class="text-center" style="font-weight:bold;font-size: 1.5em;">{{sumDVta.SUBTOTAL | currency}}</td>
                  <td class="text-center" style="font-weight:bold;font-size: 1.5em;">{{sumDVta.IVA | currency}}</td>
                  <td class="text-center" style="font-weight:bold;font-size: 1.5em;">{{sumDVta.TOTAL | currency}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-12" id="mostrarDiarioComp" *ngIf="mostrarDiarioComp">
          <div class="table-responsive">
            <h4>Diario de Compras</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="text-center">PROVEEDOR</th>
                  <th scope="col" class="text-center">SUBTOTAL</th>
                  <th scope="col" class="text-center">IVA</th>
                  <th scope="col" class="text-center">TOTAL</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dirarioCom of listDComp">
                  <td class="text-left" style="font-weight:bold;"><i class='fas fa-plus-square puntero' (click)="mostrarDocsComProv(dirarioCom.CID, dirarioCom.NOMBRE)"></i> {{dirarioCom.NOMBRE}}</td>
                  <td class="text-center" style="font-weight:bold;">{{dirarioCom.SUBTOTAL | currency}}</td>
                  <td class="text-center" style="font-weight:bold;">{{dirarioCom.IVA | currency}}</td>
                  <td class="text-center" style="font-weight:bold;">{{dirarioCom.TOTAL | currency}}</td>
                </tr>
                <tr *ngIf="divDocsComPro" class="menuLateralFix">
                  <td colspan="8" style="font-size: 2em;">{{nomProv}} <button class="modalClose" (click)="cerrarModalDocComPro()"></button></td>
                  <td colspan="8">
                    <div class="overflowy">
                      <table class="table table-striped">
                        <thead>
                          <th>FOLIO</th>
                          <th>FECHA</th>
                          <th>NUM. ENTRADA</th>
                          <th>SUBTOTAL</th>
                          <th>IVA</th>
                          <th>TOTAL</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let dCP of dComPro">
                            <th>{{dCP.ANTERIOR}}</th>
                            <th>{{dCP.FECHA}}</th>
                            <th>{{dCP.NUMERO}}</th>
                            <th>{{dCP.SUBTOTAL | currency}}</th>
                            <th>{{dCP.IVA | currency}}</th>
                            <th>{{dCP.TOTAL | currency}}</th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-10" *ngIf="divLineaTiempo">
    <h3>Línea de Tiempo</h3>
  </div>
</div>
<div class="container padding16050 altura100v" *ngIf="!loggedIn">
  <h1>NO TIENES ACCESO A ESTE SITIO</h1>
</div>