<div class="container paddingT135">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="assets/slides/slider1.gif">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="assets/slides/slider2.gif">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="assets/slides/slider3.gif">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="assets/slides/slider4.gif">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="assets/slides/slider5.gif">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="assets/slides/slider6.gif">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="assets/slides/slider7.gif">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="assets/slides/slider8.gif">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="assets/slides/slider9.gif">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="assets/slides/slider10.gif">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="assets/slides/slider11.gif">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-12">
                    <img src="assets/img/banner-de-slider.png" width="100%">
                </div>
            </div>
        </div>
        <div class="col-12 paddingT50">
            <div class="row">
                <div class="col-12 text-center">
                    <h4 class="subtitulos">LO MAS VENDIDO</h4>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-center borde" *ngFor="let item of listado">
                        <div class="row">
                            <div class="col-12 text-center">
                                <img src="http://www.ferremayoristas.com.mx/tienda/img/img_pro/img/{{item.CLAVE}}.jpg" width="80%">
                            </div>
                            <div class="col-12 paddingTB305">
                                <p class="size-07">{{item.DESCRIPCION}}</p>
                            </div>
                            <div class="col-12">
                                <p class="text-grisoscuro">{{item.CLAVE}}</p>
                                <p class="text-grisoscuro">{{item.CODIGO}} {{item.DESCRIPCION.indexOf('MALLA')}}</p>
                                <p class="texto-naranja text-bold size-12" *ngIf="item.DESCRIPCION.indexOf('MANGUERA') < 0">$ {{item.PRECIO}} C/PZ.</p>
                                <p class="texto-naranja text-bold size-12" *ngIf="item.DESCRIPCION.indexOf('MANGUERA') > 0">$ {{item.PRECIO}} C/MT.</p>
                            </div>
                            <div class="col-12 paddingTB10">
                                <img src="assets/img/envio-gratis.gif" width="70%">
                            </div>
                            <div class="container paddingTB305">
                                <div class="row justify-content-md-center">
                                    <div class="col-md-auto">
                                        <a routerLink="/detalle/{{item.CODIGO}}" class="boton">COMPRAR</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 paddingT50">
            <div class="row">
                <div class="col-2 col-sm-4 col-lg-2 centrar-sincolumna">
                    <span class="logos img-fluid" id="truper" (click)="muestra($event)"><img class="logo" src="assets/img/logos/truper.png" width="90"></span>
                </div>
                <div class="col-2 col-sm-4 col-lg-2 centrar-sincolumna">
                    <span class="logos img-fluid" id="pretul" (click)="muestra($event)"><img class="logo" src="assets/img/logos/pretul.png" width="90"></span>
                </div>
                <div class="col-1 col-sm-4 col-lg-1 centrar-sincolumna">
                    <span class="logos img-fluid" id="foset" (click)="muestra($event)"><img class="logo" src="assets/img/logos/foset.png" width="90"></span>
                </div>
                <div class="col-2 col-sm-4 col-lg-2 centrar-sincolumna">
                    <span class="logos img-fluid" id="volteck" (click)="muestra($event)"><img class="logo" src="assets/img/logos/volteck.png" width="90"></span>
                </div>
                <div class="col-1 col-sm-4 col-lg-1 centrar-sincolumna">
                    <span class="logos img-fluid" id="fiero" (click)="muestra($event)"><img class="logo" src="assets/img/logos/fiero.png" width="90"></span>
                </div>
                <div class="col-2 col-sm-4 col-lg-2 centrar-sincolumna">
                    <span class="logos img-fluid" id="klintek" (click)="muestra($event)"><img class="logo" src="assets/img/logos/klintek.png" width="90"></span>
                </div>
                <div class="col-2 col-sm-12 col-lg-2 centrar-sincolumna">
                    <span class="logos img-fluid" id="hermex" (click)="muestra($event)"><img class="logo" src="assets/img/logos/hermex.png" width="90"></span>
                </div>
                <div id="contenido-truper" class="col-12" *ngIf="mostrarT">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <img src="assets/img/esmeril.jpg" width="100%">
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                            <img src="assets/img/tijeras.jpg" width="100%">
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                            <img src="assets/img/caja.jpg" width="100%">
                        </div>
                    </div>
                </div>
                <div id="contenido-pretul" class="col-12" *ngIf="mostrarP">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <img src="assets/img/bomba-ok.jpg" width="100%">
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                            <img src="assets/img/compresorpre.jpg" width="100%">
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                            <img src="assets/img/caladora.jpg" width="100%">
                        </div>
                    </div>
                </div>
                <div id="contenido-voltek" class="col-12" *ngIf="mostrarV">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <img src="assets/img/electrico.jpg" width="100%">
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                            <img src="assets/img/luz1.jpg" width="100%">
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                            <img src="assets/img/cargador.jpg" width="100%">
                        </div>
                    </div>
                </div>
                <div id="contenido-foset" class="col-12" *ngIf="mostrarF">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <img src="assets/img/lavabo.jpg" width="100%">
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                            <img src="assets/img/foset2.png" width="100%">
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                            <img src="assets/img/fregadero.jpg" width="100%">
                        </div>
                    </div>
                </div>
                <div id="contenido-fiero" class="col-12" *ngIf="mostrarFi">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <img src="assets/img/panelfie.jpg" width="100%">
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                            <img src="assets/img/cadena.jpg" width="100%">
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                            <img src="assets/img/medidas.jpg" width="100%">
                        </div>
                    </div>
                </div>
                <div id="contenido-klintek" class="col-12" *ngIf="mostrarK">
                    <div class="row">
                        <div class="col-12">
                            <img src="assets/img/banner-klin.jpg" width="100%">
                        </div>
                    </div>
                </div>
                <div id="contenido-hermex" class="col-12" *ngIf="mostrarH">
                    <div class="row">
                        <div class="col-12">
                            <img src="assets/img/banner-hermex.jpg" width="100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-justify">
                            <p><b>Nuestra Experiencia</b> En Abril de 2007 se creó el centro de Distribución Mayorista de Herramientas Truper, cubriendo principalmente las zonas de San Juan del Río y Tequisquiapan. Actualmente y desde Enero 2012, estamos establecidos en la ciudad de Querétaro, cubriendo además de las zonas mencionadas, los estados de Hidalgo, Guanajuato, Michoacán y Estado de México.</p>
                            <p><b>Nuestro Compromiso</b> Establecer muy en alto la responsabilidad con nuestros clientes, proveedores y asociados, realizando nuestras actividades con gran esfuerzo día a día dentro de un marco de honradez social, laboral y fiscal; con profesionalismo, seriedad, ética y respeto.</p>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-justify">
                            <p><b>Nuestra Misión</b> Satisfacer las necesidades de nuestros clientes relacionados con la industria maderera, ferretera y de materiales para la construcción. Brindando productos de calidad y un servicio que inspire confianza y compromiso.</p>
                            <p><b>Nuestra Visión</b> Convertirnos en la empresa líder en la distribución de madera, ferretería y materiales de la construcción, dentro de la zona centro y bajío del país, ofreciendo soluciones integrales para el negocio y el hogar.</p>
                        </div>
                        <div class="col-12 text-center">
                            <p><b>Nuestros Valores</b><br>Dedicación, Responsabilidad, Servicio, Transparencia y Confianza.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>