/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: .8em;
}
a:link{
    text-decoration: none;
}

.list-inline-item{
    margin: 0;
    padding: 0;
}

/* Colores de Fondo */
.fondo-negro{
    background: #221E1F;
}
.fondo-azuloscuro{
    background: #042547;
}
.fondo-azuloclaro{
    background: #0e447a;
}
.fondo-blancogris{
    background: #eeeeee;
}
.fondo-grisclaro{
    background: #576b76;
}
.fondo-grismedium{
    background: #677d89;
}
.fondo-grisoscuro{
    background: #40515b;
}

/* Botones */
.boton{
    border: 1px solid #fc3f06;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    background: #fc3f06;
    cursor: pointer;
    padding: 0 10px;
}
.boton:hover{
    color: #fc3f06;
    background: white;
}

/* Colores de Texto */
.text-negro{
    color: black;
}
.text-white{
    color: white!important;
}
.text-blanco{
    color: white!important;
}
.text-blanco:hover{
    color: #042547!important;
}
.texto-naranja{
    color: #fc3f06;
}
.text-grismasclaro{
    color: #94a8b1;
}
.text-grisoscuro{
    color: #6e6e6e;
}
.text-jade{
    color: #79abb7;
}

/* Fuentes, Tamaños de Texto */
.font-osw{
    font-family: 'Poppins', sans-serif;
}
.size-06{
    font-size: 0.6em;
}
.size-07{
    font-size: 10px;
}
.size-08{
    font-size: 12px;
}
.size-09{
    font-size: 15px;
}
.size-12{
    font-size: 1.2em;
}
.size-15{
    font-size: 1.5em;
}
.size-big{
    font-size: 3em;
}
.subtitulos{
    font-family: 'Anton', sans-serif;
}
.text-bold{
    font-weight: bold;
}

/* Imagen */
.cuadro{
    width: 250px;
    height: 250px;
    background: #c4c4c4;
    /* border: 1px solid black; */
    color: black;
}

/* Navegador li */
.nav-item{
    text-align: center;
    /* width: 85px; */
    padding: 5px 0 5px 0;
}
.linav{
    text-align: center;
    width: 85px;
    padding: 5px 0 5px 0;
    z-index: 9999;
    border-bottom: 2px solid #40515b;
    color: white;
}
.linav:hover{
    border-bottom: 2px solid #fc3f06;
    z-index: 9999;
    color: #677d89;
}
.navegador{
    width: 100%;
    padding: 0;
}
.sin-margen{
    margin: 0;
}

/* Buscador */
.zona-search{
    padding: 2px;
}

/* Centrar Todo */
.centrar-columna{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.centrar-sincolumna{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Paddings */
.paddingT5{
    padding-top: 5px; 
}
.paddingTB10{
    padding: 0 10px;
}
.paddingTB305{
    padding: 30px 30px 5px 30px;
}
.paddingTB3030{
    padding: 30px 15px 30px 15px;
}
.paddingTB200100{
    padding: 200px 0 100px 0;
}
.paddingT50{
    padding-top: 50px;
}
.paddingT95{
    padding-top: 95px;
}
.paddingT85{
    padding-top: 85px;
}
.paddingT135{
    padding-top: 135px;
}
.padding16050{
    padding: 180px 20px 50px 20px;
    margin-left: 0;
    margin-right: 0;

}

/* Otros */
.overflowy{
    overflow-y: auto!important;
    height: 400px!important;
}
.menuLateralFix{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    z-index:999999;
    background: white;
    /* margin-top: 200px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.modalClose{
    width: 50px;
    height: 50px;
    position: absolute;
    right: -25px;
    top: -25px;
    border-radius: 50%;
    border: none;
    background: #171c30;
    color: white;
    cursor: pointer;
}
.modalClose:after{
    content: "X";
    font-weight: bold;
    font-size: 30px;
}
.puntero{
    cursor: pointer;
}
.text-right{
    text-align: right;
}
.nav-link{
    display: unset;
}
.cajaBuscar{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.botonBuscar{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.fa-bars{
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    padding: 8px;
}
.altura100v{
    height: 50vh;
}
.puntosli{
    color: #79abb7;
}
.breadcrumb{
    background-color: transparent;
}
.breadcrumb-item.active{
    color: #fc3f06!important;
}
.borde{
    border-right: solid #d1d0d0;
    border-right-width: 0.02px;
    border-left: solid #d1d0d0;
    border-left-width: 0.02px;
}
.borde-cuadrado{
    border-right: solid #d1d0d0;
    border-right-width: 0.02px;
    border-left: solid #d1d0d0;
    border-left-width: 0.02px;
    padding: 20px 0 5px 0;
}

/* Footer */
.banner-footer{
    display: block!important;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
    /* background: #221E1F; */
    background: #40515b;
    color:white!important;
    height: 40px;
    padding: 10px;
}

/* Logos */
.logos{
    padding: 0 10px 0 10px;
}

.logo{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.logo:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    /* border-bottom: 1px solid #fc3f06; */
    cursor: pointer;
}

/* Divs para Ocultar */


/* Redes Sociales */
.redes{
    height: 100px;
}
.list-inline{
    margin: 0;
}
.iconos{
    font-size: 2em;
    color: white;
}
.iconosgde{
    font-size: 4em;
    color: #94a8b1;
}
.iconof:hover{
    color: #3b5998;
}
.iconot:hover{
    color: #00aced;
}

/* Footer */
.espacio{
    padding: 50px;
}

/* Inputs */
.search{
    border: 0;
    background: white;
    color: #3b5998;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    height: 25px;
    width: 200px;
}
.separarLupa{
    padding: 0 5px 0 5px;
}